@namespace GapIncomeProjections  
@using NewWingsGap.Web.ApiClients
@attribute [StreamRendering(true)]  
@attribute [OutputCache(Duration = 5)]  

@inject BudgetApiClient GapApiClient

@if (Budget != null)  
{
    <div class="inline" style="display: flex; align-items: center;">
       <h2>Annual Income Projections</h2>
       <label style="margin-left:25px; margin-right: 10px;">Year:</label>
       <select class="form-select" aria-label="Default select example" style="margin-bottom: 10px; width:100px" disabled>
           <option selected>2025</option>
       </select>
    </div>

    <table>
        <tr>
            <td><label>Gross Annual Income:</label></td>
            <td><input @bind="User.GrossAnnualIncome" /></td>
        </tr>
        <tr>
            <td><label>Health Care Contribution:</label></td>
            <td><input @bind="Budget.HealthCareContribution" /></td>
        </tr>
        <tr>
            <td><input @bind="User.GrossAnnualIncome" disabled /> X </td>
            <td><label> 401K Contribution of:</label> <input/> = </td>
            <td><input @bind="Budget.FourO1KContribution" /> </td>
        </tr>
        <tr>
            <td><label>Taxable Income:</label></td>
            <td><input @bind="Budget.TaxableIncome" /></td>
        </tr>
        <tr>
            <td><label>Federal Tax:</label></td>
            <td>
                <input @bind="Budget.FederalTax" />
            </td>
        </tr>
        <tr>
            <td><label>State Tax:</label></td>
            <td><input @bind="Budget.StateTax" /></td>
        </tr>       
       
        <tr>
            <td><input @bind="User.GrossAnnualIncome" disabled /> X </td>
            <td><label>Medicare Tax:</label><input /></td>
            <td><input @bind="Budget.MedicadeTax" /></td>
        </tr>
        <tr>
            <td><input @bind="User.GrossAnnualIncome" disabled /> X </td>
            <td><label>FICA Tax:</label><input /></td>
            <td><input @bind="Budget.FICATax" /></td>
        </tr>
        <hr />
        <tr>
            <td><label>Net Annual Income:</label></td>
            <td><input @bind="Budget.NetAnnualIncome" /></td>
        </tr>
    </table>
}  

@code {
    [Parameter]  
    public Budget? Budget { get; set; }

    [Parameter]
    public User? User { get; set; }
}
